
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');

@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@tailwind base;

@layer base {
    body {
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: var(--bs-body-bg);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent
    }
    
    hr {
        margin: 1rem 0;
        color: inherit;
        border: 0;
        border-top: 1px solid;
        opacity: .25
    }
    
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2
    }
    
    .h1,h1 {
        font-size: calc(1.375rem + 1.5vw)
    }
    
    @media (min-width: 1200px) {
        .h1,h1 {
            font-size:2.5rem
        }
    }
    
    .h2,h2 {
        font-size: calc(1.325rem + .9vw)
    }
    
    @media (min-width: 1200px) {
        .h2,h2 {
            font-size:2rem
        }
    }
    
    .h3,h3 {
        font-size: calc(1.3rem + .6vw)
    }
    
    @media (min-width: 1200px) {
        .h3,h3 {
            font-size:1.75rem
        }
    }
    
    .h4,h4 {
        font-size: calc(1.275rem + .3vw)
    }
    
    @media (min-width: 1200px) {
        .h4,h4 {
            font-size:1.5rem
        }
    }
    
    .h5,h5 {
        font-size: 1.25rem
    }
    
    .h6,h6 {
        font-size: 1rem
    }
    
    p {
        margin-top: 0;
        margin-bottom: 1rem
    }
}

.btn-icon {
    display: inline-flex!important;
    justify-content: center;
    align-items: center;
}

.btn-icon svg:not([width]) {
    width: 1em;
    height: 1em;
}

.viho-theme #mainnav .vue-feather {
    vertical-align: middle;
	margin-bottom: 3px;
}

.viho-theme #mainnav .according-menu svg {
    width: 14px!important;
    margin: 0!important;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.viho-theme #mainnav .dropdown.expand .according-menu svg {
    transform: rotate(90deg);
}

.viho-theme #mainnav .nav-submenu {
    display: block!important;;
    opacity: 1;
    max-height: 0;
    overflow-y: hidden;
    transition: opacity 0.3s, max-height 0.3s;
}

.viho-theme #mainnav .dropdown.expand .nav-submenu {
    opacity: 1;
    max-height: 100vh;
}

.listbox-wrapper {
    position: absolute;
    bottom: 100%;
    z-index: 10;
    width: 100%;
}

.listbox-wrapper .p-listbox-list-wrapper {
    max-height: 10rem;
}

.btn-loading {
    position: relative;
    overflow: hidden;
}

@keyframes btnLoading {
    0% { left: 0% }
    50% { left: -100% }
    100% { left: 50% }
}

.btn-loading::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(to left, rgba(255,255,255,0.1) 50%, transparent 50%);
    top: 0;
    left: 0;
    animation: btnLoading 1s infinite;
}

@keyframes justshake {
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(-5px); }
}

.is-invalid {
    animation: justshake 0.3s forwards;
}

.btn-circle {
    @apply tw-w-10 tw-h-10 tw-flex tw-justify-center tw-items-center tw-rounded-full;
}

.span-circle {
    @apply tw-w-8 tw-h-8 tw-inline-flex tw-justify-center tw-items-center tw-rounded-full;
}

.table-head-primary thead th,
.p-datatable-table thead th {
    background-color: #24695c!important;
}

.table-head-primary thead th {
    text-align: center;
}

.table-head-primary thead th,
.p-datatable-table thead th,
.p-datatable-table thead .p-sortable-column-icon {
    color: #fff!important;
}

.table-gepee tr.row-collapsed,
.table-pue tr.row-collapsed,
.table-collapsable tr.row-collapsed {
    display: none;
}

.table-gepee .btn-collapse-row,
.table-pue .btn-collapse-row,
.table-collapsable .btn-collapse-row {
    @apply tw-rotate-90 tw-transition-transform tw-duration-300;
}

.table-gepee .btn-collapse-row.child-collapsed,
.table-pue .btn-collapse-row.child-collapsed,
.table-collapsable .btn-collapse-row.child-collapsed {
    @apply tw-rotate-0;
}

.table-gepee .table thead th,
.table-pue .table thead th {
    text-align: center;
}

.table-gepee .form-check-input {
    width: 1.1rem;
    height: 1.1rem;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-light {
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.btn-primary:hover:not([disabled]) {
    background-color: #1c5248!important;
}

.btn-secondary:hover:not([disabled]) {
    background-color: #956d4a!important;
}

.btn-success:hover:not([disabled]) {
    background-color: #102c27!important;
}

.btn-info:hover:not([disabled]) {
    background-color: #7c7c7c!important;
}

.btn-warning:hover:not([disabled]) {
    background-color: #c9af2a!important;
}

.btn-danger:hover:not([disabled]) {
    background-color: #b52533!important;
}

.btn-light:hover:not([disabled]) {
    background-color: #d1d7d9!important;
}

.table-freeze {
    position: relative;
}

.table-freeze .sticky-column {
    position: -webkit-sticky;
    position: sticky;
    left: -1px;
    z-index: 8;
    background-color: white;
}

.form-check-input {
    cursor: pointer;
}

.animated-card {
    -webkit-box-shadow: 0 0 37px rgb(36 105 92 / 5%);
    box-shadow: 0 0 37px rgb(36 105 92 / 5%);
}

.animated-card:hover {
    -webkit-box-shadow: 0 0 37px rgb(36 105 92 / 15%);
    box-shadow: 0 0 37px rgb(36 105 92 / 15%);
}

.animated-card .img-wrapper img {
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.animated-card .img-wrapper:hover img {
    -webkit-transform: rotate3d(1, 1, 1, -3deg);
    transform: rotate3d(1, 1, 1, -3deg);
}

.text-shadow-white {
    text-shadow: 0 0 0.2em rgba(255,255,255,0.5);
}

@media (max-width: 991px) {

    footer {
        margin-left: 0!important;
    }

    footer p {
        margin-bottom: 0;
    }

}

@media(min-width: 992px) {
    .dialog-small .p-dialog:not(.p-dialog-maximized) .p-dialog-content {
        max-width: 60vw;
    }
}

label.required:after {
    content: "*";
    @apply tw-text-danger tw-ml-0.5;
}

/* .table:not(.table-bordered) > :not(caption) > * > * {
    padding: 0;
    border-width: 0;
}

.table > :not(caption) > * > * {
    padding: 0;
    border-width: 0;
} */

.img-stretched-link {
    @apply tw-absolute tw-inset-0 tw-opacity-0;
}

.img-stretched-link img {
    @apply tw-w-full tw-h-full;
}

.filter-year-panel {
    width: 16rem;
}

@media (max-width: 767px) {
    .filter-month,
    .filter-year-panel {
        min-width: 16rem;
    }
}