.tc-pue-inefficient {
    color: #fd2e64!important;
}

.bgc-pue-inefficient {
    background-color: #ff658d!important;
}

.tc-pue-average {
    color: #e2c636!important;
}

.bgc-pue-average {
    background-color: #ffe55c!important;
}

.tc-pue-optimize {
    color: #24695c!important;
}

.bgc-pue-optimize {
    background-color: #2cb198!important;
}

.tc-pue-efficient {
    color: #72a943!important;
}

.bgc-pue-efficient {
    background-color: #77d077!important;
}